// font variables
$font-base-px: 14px !default;

// Color variables
// Grays
$dropdown-disable-gray: #959595;
$table-bg-gray: #f4f4f4;
$light-gray: #dddddd;
$font-dark-gray: #333333;
$pale-gray-bg: #f8f8f8;
$gray-border: #c5c5c5;
$gradient-gray: #f3f3f3;
$disable-border-color: #dedede;

// Blues
$topbar-blue: #1dadf5;
$light-blue-bg: #ebf8fe;
$hover-blue: #2caff3;

// Buttons
$red-btn: #df735e;
$red-btn-border: #cb5841;
$red-btn-text: #ab4630;
$green-btn: #9ccb3d;
$green-btn-border: #78a81e;
$blue-btn: #27bcf5;
$blue-btn-border: #1697c5;

// Whites
$white: #ffffff;
$dropdown-bg-white: #fafafa;

$topbar-black: #111111;

$red-link: #d9604c;


// Clearfix mixin
@mixin clearfix {
  zoom:1;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}



